{{ partial "head" . }}

{{ partial "nav" . }}

<div class="ph3 bg-off-white">
	<div class="center mw6 pv3">

		<!--<img src="/img/logo.svg" alt="" class="db w4 center pv4">--->

		<p>We’d love to get in touch with you and hear your ideas and questions. We strive to grow and improve constantly and your feedback is valuable for us.</p>

		<h3 class="f4 b lh-title mb2">How can I get…?</h3>
		<p>You can also use the form below for any inquiries about our show or the archive being moved to Miskatonic University Library.</p>

		<div class="flex-ns mb3">
		
		</div>

		{{ partial "contact-form" . }}

	</div>
</div>

{{ partial "footer" . }}
