{{ partial "head" . }}

{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" "/img/home/jumbotron2.jpg" "title" "The Southern Gothic Codex" "subtitle" "We found something and we are ready to share.") }}

{{ partial "blog" . }}




{{ partial "text-and-image" (dict "heading" "Our values" "text" "Coffee is an amazing part of human culture but it has a dark side too – one of colonialism and mindless abuse of natural resources and human lives. We want to turn this around and return the coffee trade to the drink’s exhilarating, empowering and unifying nature." "buttonText" "Read more" "buttonLink" "/about") }}


{{ partial "footer" . }}
