{{ partial "head" . }}
{{ partial "nav" . }}
{{ partial "jumbotron" (dict "imageUrl" "/img/about/goldring2.jpg" "title" "About TSGC") }}

<div class="mw7 center ph3 pt4">
<!--
  {{ partial "media-block" (dict "heading" "The beginnings" "text" "When he died, Uncle Hercule left a sizeable personal library. It included books and papers spread across several rooms of his house, his cabin, and his office at the university. As we sorted through this collection, we found hints and clues that there was more -- a deeper, mysterious collection -- secreted away in storage and friends’ attics across the south." "imageUrl" "/img/about/map.jpg") }}

  {{ partial "media-block-reverse" (dict "heading" "Coming Together" "text" "At holiday visits, funerals, and anytime the extended family gathered, talk would turn to Uncle Jack. If the stories we told were even a quarter true, he had lived a more interesting life than any of us knew. Amongst the stories of adventure on an Arctic icebreaker, living amongst the Tuareg and attending the Coronation of Emperor Haile Selassie, and fighting in multiple wars, runs a deeper, mysterious thread. It touches the Rosicrucians, gold treasure, treason, Freemasons, and a secret pact." "imageUrl" "/img/about/expedition.jpg") }}

  {{ partial "media-block" (dict "heading" "The Search begins" "text" "Slowly, as we unspooled Uncle Hercule’s papers and compared them to Uncle Jack’s stories, we realized the deeper mystery in each of their lives was a shared mystery. One which we are now ready to reveal." "imageUrl" "/img/about/farmhouse.jpg") }}

  {{ partial "media-block-reverse" (dict "heading" "Codex Found" "text" "Uncles Jack and Hercule were members and chroniclers of a secret society dedicated to protecting the weak from the forces of evil. The Southern Gothic Codex is the story of that society, The Knights of the Golden Ring." "imageUrl" "/img/about/eye-of-horus.jpg") }}

  {{ partial "media-block" (dict "heading" "Reinvest profits" "text" "We want to truly empower the communities that bring amazing coffee to you. That’s why we reinvest 20% of our profits into farms, local businesses and schools everywhere our coffee is grown. You can see the communities grow and learn more about coffee farming on our blog." "imageUrl" "/img/about/reinvest-profits.jpg") }}
--->
</div>


<br>
<br>
{{ partial "media-block" (dict "text" "When he died, Uncle Hercule left a sizeable personal library. It included books and papers spread across several rooms of his house, his cabin, and his office at the university. As we sorted through this collection, we found hints and clues that there was more -- a deeper, mysterious collection -- secreted away in storage and friends’ attics across the south." "imageUrl" "/img/about/map.jpg") }}



{{ partial "media-block-reverse" (dict "text" "At holiday visits, funerals, and anytime the extended family gathered, talk would turn to Uncle Jack. If the stories we told were even a quarter true, he had lived a more interesting life than any of us knew. Amongst the stories of adventure on an Arctic icebreaker, living amongst the Tuareg and attending the Coronation of Emperor Haile Selassie, and fighting in multiple wars, runs a deeper, mysterious thread. It touches the Rosicrucians, gold treasure, treason, Freemasons, and a secret pact." "imageUrl" "/img/about/expedition.jpg") }}

{{ partial "media-block" (dict "text" "Slowly, as we unspooled Uncle Hercule’s papers and compared them to Uncle Jack’s stories, we realized the deeper mystery in each of their lives was a shared mystery. One which we are now ready to reveal." "imageUrl" "/img/about/farmhouse.jpg") }}


{{ partial "media-block-reverse" (dict "text" "Uncles Jack and Hercule were members and chroniclers of a secret society dedicated to protecting the weak from the forces of evil. The Southern Gothic Codex is the story of that society, The Knights of the Golden Ring." "imageUrl" "/img/about/eye-of-horus.jpg") }}
<br>
  
  
  
{{ partial "footer" . }}
