{{ partial "head" . }}
{{ partial "nav" . }}
{{ partial "jumbotron" (dict "imageUrl" "/img/about/jumbotron.jpg" "title" "About TSGC") }}

<div class="mw7 center ph3 pt4">
<!--
  {{ partial "media-block" (dict "heading" "Shade-grown coffee" "text" "Coffee is a small tree or shrub that grows in the forest understory in its wild form, and traditionally was grown commercially under other trees that provided shade. The forest-like structure of shade coffee farms provides habitat for a great number of migratory and resident species." "imageUrl" "/img/about/shade-grown.jpg") }}

  {{ partial "media-block-reverse" (dict "heading" "Single origin" "text" "Single-origin coffee is coffee grown within a single known geographic origin. Sometimes, this is a single farm or a specific collection of beans from a single country. The name of the coffee is then usually the place it was grown to whatever degree available." "imageUrl" "/img/about/single-origin.jpg") }}

  {{ partial "media-block" (dict "heading" "Sustainable farming" "text" "Sustainable agriculture is farming in sustainable ways based on an understanding of ecosystem services, the study of relationships between organisms and their environment. What grows where and how it is grown are a matter of choice and careful consideration for nature and communities." "imageUrl" "/img/about/sustainable-farming.jpg") }}

  {{ partial "media-block-reverse" (dict "heading" "Direct sourcing" "text" "Direct trade is a form of sourcing practiced by some coffee roasters. Advocates of direct trade practices promote direct communication and price negotiation between buyer and farmer, along with systems that encourage and incentivize quality." "imageUrl" "/img/about/direct-sourcing.jpg") }}

  {{ partial "media-block" (dict "heading" "Reinvest profits" "text" "We want to truly empower the communities that bring amazing coffee to you. That’s why we reinvest 20% of our profits into farms, local businesses and schools everywhere our coffee is grown. You can see the communities grow and learn more about coffee farming on our blog." "imageUrl" "/img/about/reinvest-profits.jpg") }}
</div>
--->
  About the Southern Gothic Codex
<br>
 <br>

It started with rumors of stories. 
  <br>

When he died, Uncle Hercule left a sizeable personal library. It included books and papers spread across several rooms of his house, his cabin, and his office at the university. As we sorted through this collection, we found hints and clues that there was more -- a deeper, mysterious collection -- secreted away in storage and friends’ attics across the south.
  <br>

At holiday visits, funerals, and anytime the extended family gathered, talk would turn to Uncle Jack. If the stories we told were even a quarter true, he had lived a more interesting life than any of us knew. Amongst the stories of adventure on an Arctic icebreaker, living amongst the Tuareg and attending the Coronation of Emperor Haile Selassie, and fighting in multiple wars, runs a deeper, mysterious thread. It touches the Rosicrucians, gold treasure, treason, Freemasons, and a secret pact.
<br>
Slowly, as we unspooled Uncle Hercule’s papers and compared them to Uncle Jack’s stories, we realized the deeper mystery in each of their lives was a shared mystery. One which we are now ready to reveal.
<br>
Uncles Jack and Hercule were members and chroniclers of a secret society dedicated to protecting the weak from the forces of evil. The Southern Gothic Codex is the story of that society, The Knights of the Golden Ring.
<br>
  
  
  
{{ partial "footer" . }}
